/****************
CLASSES GLOBALES
*****************/

.button {
  display: inline-block;
  color: white !important;
  background-color: #03639b;
  border: 1px solid #03639b;
  padding: 10px;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}

.button:hover {
  color: #03639b !important;
  background-color: white;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

*:hover {
  transition: all 0.2s ease 0s;
}

/****************
  STYLE GLOBAL
  *****************/

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  line-height: 22px;
  background: whitesmoke;
}

h1 {
  font-family: "Roboto", sans-serif;
}

/****************
  STYLE PAR SECTION
*****************/

/****************
  HEADER
*****************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../img/ultrawide.jpg");
  background-position: top;
  background-size: cover;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0px 0px 0px;
}

header nav img {
  height: 35px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-right: 20px;
  font-size: 16px;
  transition: all 0.2s ease 0s;
  color: white;
}

header nav ul li:last-of-type {
  margin-right: 0px;
}

header nav ul li:hover {
  transform: translateY(-5px);
  color: white !important;
}

header #titre {
  text-align: center;
  color: white;
}

header #titre h1 {
  font-size: 50px;
  letter-spacing: 1px;
  padding-top: 40px;
  margin-bottom: 25px;
}

header #titre p {
  display: inline-block;
  font-size: 19px;
  margin-bottom: 160px;
}

/****************
  PRESENTATION
*****************/

#presentation .skewedBox1 {
  background: whitesmoke;
  color: black;
  transform: skew(0deg, 4deg) translateY(95px);
}

#presentation .container {
  transform: skew(0deg, -4deg) translateY(-65px);
}

#presentation div div {
  display: flex;
  align-items: center;
}

#presentation div div:first-of-type {
  border-bottom: 1px solid rgb(3, 99, 155);
  padding-bottom: 20px;
}

#presentation img {
  object-fit: cover;
  width: 280px;
  height: 280px;
  margin-right: 50px;
}

#presentation article p {
  text-align: justify;
}

#recherche p {
  padding-top: 20px;
}

#recherche a {
  margin-left: 10px;
}

/****************
  COMPETENCES
*****************/

#competences {
  background: rgb(3, 99, 155);
  color: white;
  padding-bottom: 275px;
}

#competences .container {
  transform: translateY(165px);
}

#competences ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
}

#competences ul li {
  border: 2px solid white;
  padding: 15px;
  width: 400px;
}

#competences ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}

#competences #ligne1,
#ligne2,
#ligne3 {
  display: flex;
  justify-content: space-evenly;
}

#competences #java,
#ligne2,
#ligne3 {
  background: rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding-top: 5px;
}

#competences p {
  font-size: 14px;
}

#competences #colonne img {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}

#competences #colonne {
  display: flex;
  justify-content: space-evenly;
  min-width: 100px;
  max-width: 400px;
}

#competences #colonne p {
  padding-bottom: 25px;
}

#competences h2:last-of-type {
  padding-bottom: 60px;
}

/****************
  VALEURS
*****************/

#valeurs .skewedBox3 {
  background: whitesmoke;
  transform: skew(0deg, -4deg) translateY(-70px);
  padding-bottom: 150px;
  color: black;
}

#valeurs .container {
  transform: skew(0deg, 4deg) translateY(100px);
}

#valeurs img {
  width: 340p;
  height: 300px;
  margin-top: 25px;
  object-fit: cover;
}

#valeurs .card-group:first-of-type {
  margin-bottom: 20px;
}

/****************
  PORTFOLIO
*****************/

#portfolio .skewedBox4 {
  background: #03639b;
  color: white;
  transform: skew(0deg, 4deg);
  padding-bottom: 350px;
}

#portfolio .container {
  transform: skew(0deg, -4deg) translateY(100px);
  width: 1060px;
}

#carouselExampleCaptions img {
  width: 1060px;
  height: 600px;
  filter: brightness(45%);
  object-fit: cover;
}

.carousel-caption {
  top: 1.25rem;
}

#portfolio #carousel1 {
  font-size: 30px;
  margin-bottom: 15px;
}

#portfolio #carousel2 {
  font-size: 20px;
}

#portfolio #fond {
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 0px 10px 0px;
}

/****************
  VISIBILITE
*****************/

#visibilite .skewedBox5 {
  background: whitesmoke;
  color: black;
  transform: skew(0deg, -4deg) translateY(-170px);
  padding-bottom: 120px;
}

#visibilite .container {
  transform: skew(0deg, 4deg) translateY(80px);
  width: 1060px;
}

#visibilite #my-player {
  width: 692px;
  height: 388px;
}

#visibilite #video {
  text-align: center;
}

#visibilite .width {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

#visibilite .cards {
  padding-top: 50px;
}

#visibilite .cards img {
  width: 240p;
  height: 200px;
  object-fit: cover;
}

#visibilite .cards img:hover {
  filter: brightness(45%);
}

/****************
  CONTACT
*****************/

#contact .skewedBox5 {
  background: whitesmoke;
  color: black;
  transform: skew(0deg, -4deg) translateY(-170px);
}

#contact .skewedBox5 h2 {
  color: black;
  text-align: center;
  padding-bottom: 25px;
}

#contact .skewedBox5 form label {
  color: black;
  font-size: 18px;
}

#contact .container {
  border-top: 1px solid rgb(3, 99, 155);
  padding-top: 40px;
  transform: skew(0deg, 4deg) translateY(80px);
  width: 1060px;
}

#contact div {
  display: flex;
  flex-direction: column;
}

/****************
  FOOTER
*****************/

footer {
  background: rgb(3, 99, 155);
  color: white;
  text-align: center;
  padding: 30px 30px 20px 30px;
}

footer #footer {
  display: flex;
  justify-content: center;
}

footer #footer img {
  width: 35px;
  padding-left: 20px;
}

/* FORMULAIRE */

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-family: "Work Sans", sans-serif;
  color: black;
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: black;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* STYLE MOBILE */
@media (max-width: 780px) {
  header #titre h1 {
    font-size: 40px;
  }
  header #titre p {
    font-size: 14px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 100px;
  }
  header nav ul li {
    font-size: 11px;
    margin-right: 10px;
  }
  #presentation div {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #presentation img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  #presentation article p {
    text-align: center;
  }
  #competences ul {
    flex-direction: column;
  }
  #competences ul li {
    border: 1px solid white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  #competences ul li:first-of-type {
    margin-bottom: 25px;
  }
  #competences p {
    font-size: 12px;
  }
  #valeurs img {
    width: 280px;
    height: 240px;
  }
  #valeurs .card-group:first-of-type {
    margin-bottom: 0px;
  }
  #carouselExampleCaptions img {
    height: 270px;
    filter: brightness(45%);
    object-fit: cover;
  }
  #portfolio .container {
    width: 350px;
  }
  #portfolio #carousel1 {
    font-size: 19px;
  }
  #portfolio #carousel2 {
    font-size: 10px;
  }
  #portfolio #fond {
    padding: 0px;
  }
  #visibilite .container {
    width: 350px;
  }
  #visibilite #my-player {
    width: 300px;
    height: 170px;
    margin-bottom: 10px;
  }
  #visibilite .width {
    width: 300px;
  }
  #visibilite .cards img {
    width: 280px;
    height: 240px;
    margin-top: 15px;
  }
  #contact .container {
    width: 350px;
  }
}
